{% extends 'base.html' %}
{% block title %}Letter{% endblock title %}
{% block content %}
<div class="container-fluid bg-white">
    <h2 class="text-center">Offer Letters</h2>
    <p>List of offer letters to customers!</p>
    <a href="{% url 'create_letter' %}" class="btn btn-info">Create New Letter</a>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Subject</th>
                <th>Message</th>
                <th>Date</th>
                <th>Customer ID</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
         {%for data in letters %}
            <tr>
                <td>{{data.subject}}</td>
                <td>{{data.message}}</td>
                <td>{{data.date}}</td>
                <td>GM-0{{data.customer_id}}</td>
                <td><a href="{% url 'show_letter' %}" class="btn btn-success">show</a> 
                    <a href="{% url 'update_letter' data.id %}" class="btn btn-warning">Update</a>
                    <a href="{% url 'delete_letter' data.id %}" class="btn btn-danger">Delete</a>
                    <a href="{% url 'download_letter' data.id %}" class="btn btn-dark">Download</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>
{% endblock content %}