{% extends 'base.html' %}
{% block title %}Letter{% endblock title %}
{% block content %}
<div class="container bg-white">
    <h2 class="text-center">Invoice Management</h2>
    <form action="create_invoice" method="post" enctype="multipart/form-data" style="width:400px;">
        {% csrf_token %}
        <input type="date" name="due_date" id="due_date">
        <br>
        <br>
        <select name="letter_id" id="letter_id">
            {% for letter in letters %}
            <option value="{{letter.id}}">{{letter.subject}}</option>
            {% endfor %}
        </select>
        <br>
        <br>
        <input type="submit" class="btn btn-info">
    </form>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Letter ID</th>
                <th>Subtotal</th>
                <th>Tax</th>
                <th>Total</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {%for data in letters %}
            <tr>
                <td>{{data.subject}}</td>
                <td>{{data.message}}</td>
                <td>{{data.date}}</td>
                <td>GM-0{{data.customer_id}}</td>
                <td><a href="{% url 'show_letter' %}">show</a>
                    <a href="{% url 'update_letter' data.id %}">Update</a>
                    <a href="{% url 'delete_letter' data.id %}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {{letter_id}}
    {{due_date}}
</div>
</div>
</div>
{% endblock content %}